<!DOCTYPE html>

<html>

<head>

    <title>Accueil</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='style.css') }}"
    >

</head>

<body>

    
    <div class="container">
        <div class="titre">
            <h1>Bienvenue sur le réseau de bus</h1>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', path='images/nancy-trolleybus.jpg') }}" alt="Nancy Trolleybus" class="image_bus">
        </div>
        <div class="bouton-container">
            <a href="/api/itineraire">
                <button class="button-77" role="button">Rechercher un itinéraire</button>
            </a>
        </div>
    </div>

</body>

</html>